<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<form action="#" method="post" th:action="@{Register}" th:object="${storeOwner}" >
				<input type="text" name ="username" th:field="*{userName}" />
				<input type="text" name ="fname" th:field="*{fristName}" />
				<input type="text" name ="wname" th:field="*{secoundName}"/>
				<input type="text" name ="password" th:field="*{password}" />
				<input type="text" name ="address" th:field="*{address}" />
				<input type="text" name ="phoneNumber" th:field="*{phoneNumber}" />
				<input type="submit">
	</form>
</body>
</html>